@page "/"
@using System.Timers
@inject IJSRuntime JSRuntime;

<div @onkeypress="@GetKeyPress">
    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-body">

                    <div style="padding-left: 2em; margin-bottom: 5px;">
                        <span class="input-group">
                            <span class="btn-group">
                                <button type="button" class="@vbi1">1</button>
                                <button type="button" class="@vbi2">2</button>
                                <button type="button" class="@vbi3">3</button>
                                <button type="button" class="@vbi4">4</button>
                            </span>

                            <select class="custom-select" value="@meterBoxMode" @onchange="@HandleMeterUpdate" id="MeterBoxSelect">
                                <option value="VBI" selected>VBI</option>
                                <option value="2/4">2/4</option>
                                <option value="3/4">3/4</option>
                                <option value="4/4">4/4</option>
                            </select>
                        </span>
                    </div>
                    <div class="container" style="font-size: small;">
                        <div class="row">
                            <div class="col-sm">
                                Elapsed Time: @elapsedSecond
                            </div>
                            <div class="col-sm">
                                Beat Count: @currentCount
                            </div>
                            <div class="col-sm">
                                Average (10/15/20): @bpmAverage10 / @bpmAverage15 / @bpmAverage20
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <p>BPM: @currentBPM</p>

                    <div class="container" style="font-size: small;">
                        <div class="row">
                            <div class="col-sm">
                                <button class="btn btn-outline-secondary" @onclick="AdjustUp">Adjust Up</button>
                                <button class="btn btn-outline-secondary" @onclick="AdjustDown">Adjust Down</button>
                                <button class="btn btn-outline-secondary" @onclick="Rebase">Rebase</button>
                            </div>
                            <div class="col-sm">
                                <audio
                                    preload="auto"
                                    src="/sounds/beat.mp3">
                                    Your browser does not support the
                                    <code>audio</code> element.
                                </audio>
                                <input type="checkbox" checked="@AudibleState.Value.Audible" @onclick="@ToggleAudibleCheck" class="form-check-input" id="audibleBeat"> Audible Beat
                            </div>
                            <div class="col-sm">
                                <button class="btn btn-outline-secondary" onclick="playBeat()">Test Beat</button>
                                <button class="btn btn-outline-secondary" @onclick="DownloadJson">Download Metric</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            Stability
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @stability%" aria-valuenow="@stability" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <button class="btn btn-primary" id="beatButton" style="padding-top: 1.5em; padding-bottom: 1.5em; width: 100%;" ontouch="ExecBeat" @onclick="ExecBeat">Beat</button>
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-danger" id="resetButton" style="padding-top: 1.5em; padding-bottom: 1.5em; width: 100%;" ontouch="Reset" @onclick="Reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="container" style="font-size: small;">
                <div class="row">
                    <div class="col-sm">
                        Last: @recentTimeMs ms
                    </div>
                    <div class="col-sm">
                        Average: @averageMS ms
                    </div>
                    <div class="col-sm">
                        BPM Interval: @bpmInterval ms
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <p class="card-text" style="font-size: x-small;"><span style="color: red;">Warning</span>: Various factors may affect accuracy of the measurement. Do not rely on this system for mission critical applications. The HSTempoWasm developers are not responsible for any damages caused by use of this system.</p>
        </div>
    </div>
</div>